# Let's make it easy and add it. Maybe a git link to Tableau's repo would make more sense?
# resources/tableau-wdc-js/*
node_modules/**/*
dist/**/*

coffee/twitter_connector/twitter_keys.coffee

# Editor files
*tags
*.swp
*~
