.row
  .col-sm-12
    h1 Raw JSON connect

.row
  .col-sm-12
    .page-header
      h4 Connect to Raw JSON data source

  .col-sm-12

    form
      .row
        .col-sm-10
          label(for="url") JSON Url
          input.form-control(type="text" data-tableau-key="url" )



        .col-sm-2
          label Connect
          a.btn.btn-default(href="#" data-state-to="run_json") Connect to JSON


//
  .row
    .col-sm-12
      .page-header
        h4 Or connect to a raw JSON file

    .col-sm-12

      form
        .row
          .col-sm-10
            label(for="url") JSON Url
            input.form-control(type="text" data-tableau-key="url")

          .col-sm-2
            label Connect
            a.btn.btn-default(href="#" data-state-to="run") Get raw JSON

