h3 Connect to Google Spreadsheet

.row
  .col-sm-8
    label(for="gdoc-key") Key
    input#gdoc-key.form-control(type="text" data-tableau-key="key" placeholder="Enter the spreadsheet key...")
    p.help-block
      | Use this key to access sample spreadsheet:
      | <code>0AonYZs4MzlZbdEIycWhwSnNBSTBTUDl3WWdDSE1VbHc</code>

  .col-sm-4
    label(for="gdoc-tab") Tab
    input#gdoc-tab.form-control(type="text" data-tableau-key="tab" value="default")
    p.help-block
      | Use <code>default</code> to load the first spreadsheet, or type the
      | name of the tab.

