h3 Connect to Data

.row
  .col-sm-12
    label(for="tags") Tags for search
    input.form-control(type="text" data-tableau-key="tags")
    p.help-block
      | Add coma separated list of tags like
      code wdc,api

.row
  .col-sm-12
      a.btn.btn-default(href="#" data-state-to="run") Load Data
