h3 Connect to CSV Data

.row
  .col-sm-12
    label(for="url") Url
    input.form-control(type="text" data-tableau-key="url")
    p.help-block
      | Use this URL to load a sample CSV file:
      code http://databoss.starschema.net/wp-content/uploads/2015/04/mock_data.csv

.row

  .col-sm-4
    label(for="csv-quotes") Quotes
    select#csv-quotes.form-control(data-tableau-key="quote")
      option(value='"') " : Double quotes
      option(value="'") ' : Single quote
      option(value="`") ` : Backticks
    p.help-block
      | The character used to quote the fields. Defaults to <code>"</code>. Must
      | be a single character.

  .col-sm-4
    label(for="csv-delimieter") Delimiter
    select#csv-delimiter.form-control(data-tableau-source="csv" data-tableau-key="delimiter")
      option(value=",") , : Colon
      option(value=";") ; : Semicolon
      option(value="|") | : Pipe
    p.help-block
      | The character used to separate the fields. Defaults to <code>,</code>.
      | Must be a single character.

  .col-sm-4
    label(for="csv-charset") Delimiter
    select#csv-charset.form-control(data-tableau-key="charset")

      optgroup(label="Web Standards")
        option(value="UTF-8") UTF-8
        option(value="ISO8859-1") ISO8859-1

      optgroup(label="Central European")
        option(value="ISO8859-2") ISO8859-2

