.row
  .col-sm-12
    h1 Auth
  .col-sm-12
    a.btn.btn-primary(href="#" data-state-to="run") Run
    a.btn.btn-default(href="#" data-state-to=":back2") << Back


.row
  .col-sm-12
    label(for="url") Consumer Key
    input.form-control(type="text" data-tableau-key="consumer_key" value="kWyxiJH90fDiHGFv372v6g1OZ")
    p.help-block
      | The Twitter Consumer Key. For example (not valid):
      code xvz1evFS4wEEPTGEFPHBog

  .col-sm-12
    label(for="url") Consumer Secret
    input.form-control(type="text" data-tableau-key="consumer_secret" value="yGxQNtqQL2KJXWmBYdJolG3y5I6YEmZOT3WXPbWNEzmlBBXPAf")
    p.help-block
      | The Twitter Consumer Secret. For example (not valid):
      code L8qq9PZyRg6ieKGEKhZolGC0vJWLw8iEJ88DRdyOg

