.row
  .col-sm-12
    h1 Start

  .col-sm-12
      a.btn.btn-default(href="#" data-state-to="run") Run query

.row
  .col-sm-8
    form
      .row
        .col-sm-12
          label(for="url") What to search for?
          input.form-control(type="text" data-tableau-key="q")

      .row
        .col-sm-12
          h4 Query operators
          p The query can have operators that modify its behavior, the available operators are:

          table.table
            tr
              th Operator
              th Finds tweets…

            tr
              th watching now
              td containing both “watching” and “now”. This is the default operator.

            tr
              th “happy hour”
              td containing the exact phrase “happy hour”.

            tr
              th love OR hate
              td containing either “love” or “hate” (or both).

            tr
              th beer -root
              td containing “beer” but not “root”.

            tr
              th #haiku
              td containing the hashtag “haiku”.

            tr
              th from:alexiskold
              td sent from person “alexiskold”.

            tr
              th to:techcrunch
              td sent to person “techcrunch”.

            tr
              th @mashable
              td referencing person “mashable”.

            tr
              th superhero since:2015-07-19
              td containing “superhero” and sent since date “2015-07-19” (year-month-day).

            tr
              th ftw until:2015-07-19
              td containing “ftw” and sent before the date “2015-07-19”.

            tr
              th movie -scary :)
              td containing “movie”, but not “scary”, and with a positive attitude.

            tr
              th flight :(
              td containing “flight” and with a negative attitude.

            tr
              th traffic ?
              td containing “traffic” and asking a question.

            tr
              th hilarious filter:links
              td containing “hilarious” and linking to URL.

            tr
              th news source:twitterfeed
              td containing “news” and entered via TwitterFeed


  .col-sm-4
    .row
      .col-sm-12
        h4 Extra data to include

    .row
      .col-sm-12
        form
          .form-group
            label(for="url") Number of pages to load
            input.form-control(type="number" data-tableau-key="page_count" value="4")


          .checkbox.form-group
            label
              input(type="checkbox" data-tableau-key="include_geolocation")
              | Include GeoLocation?

          .checkbox.form-group
            label
              input(type="checkbox" data-tableau-key="include_userdata")
              | Include User Data?

          .checkbox.form-group
            label
              input(type="checkbox" data-tableau-key="expand_hashtags")
              | Generate a row for each hashtag?

          .checkbox.form-group
            label
              input(type="checkbox" data-tableau-key="expand_mentions")
              | Generate a row for each @mention?
