h3 Connect to Data

.row
  .col-sm-12
    label(for="myinput") Myinput
    input.form-control(type="text" data-tableau-key="myinput")
    p.help-block
      | Add meaningful help with
      code some_code 

.row
  .col-sm-12
      a.btn.btn-default(href="#" data-state-to="run") Load Data
