.row
    .col-sm-12
        .page-header
            h1
                |  SAP BO
                small
                  WebI / QAAWS web data connector
                  br
                  | by&nbsp;

                  a(href="https://starschema.net" target="_blank") StarSchema


    .col-sm-12
      pre.alert.alert-danger#error(style="display:none")
    .col-sm-12
        form.form-horizontal
            .form-group
                label(for="wsdl") WSDL Url
                input.form-control#wsdl(type="text", name="wsdl" data-tableau-key="wsdl")
            a.btn.btn-primary#submit-button(href="#" data-state-to="configuration") Next
