.row
    .col-sm-12
        .page-header
            h1
                | SAP Business Objects
                small web data connector
            h6
                | Get live data with
                a(href="http://www.virtdb.com/webdataconnector") VirtDB

    .col-sm-12
        form.form-horizontal
            .form-group
                label(for="wsdl") WSDL Url
                input.form-control#wsdl(type="text", name="wsdl" data-tableau-key="wsdl" value="http://192.168.223.120:8080/dswsbobje/qaawsservices/biws?wsdl=1&cuid=AZ1LECmMR5hCmK6KoefmY.w")
            a.btn.btn-primary#submit-button(href="#" data-state-to="configuration") Next
